html,
body {
  background-color: #003865;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  box-align: center;
}

img {
  margin: 20px;
}

.container {
  margin-top: -20px;
  margin-bottom: -20px;
}

.jumbotron {
  background-color: black;
  color: white;
  font-weight: bold;
}

.card {
  background-color: black;
  color: white;
  font-weight: bold;
}
